@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
header{
    background: linear-gradient(to right, #a7c796, #a7c7e7);
    padding: 20px 0;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 0px 3px 3px rgba(17,43,15,0, 267);
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
h1{
    color: #06032c;
    font-size: 2rem;
    text-align: center;
}
    body{
    font-family: "Raleway", serif;
    color: #000000;
    background-color: #f5e6c4;
    font-weight: 600;
    text-align: center;
}
/*Menu de navegação*/
    nav a{
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #2f6131;
    font-weight:bold;
    font-size: 1rem;
    position: center;
}
    nav a:hover{
    color: #f5e6c4;
}

.main-container{
    display: flexbox;
    flex-direction: row;
}
.main-block{
    background-color: #f5e6c4;
    gap: 0px;
    max-width: 300px;
    margin: 0 auto;
    flex-wrap: wrap;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
/*acho que da pra tirar esse main-block a*/
.main-block a{
    color:#06032c;
    background:#f5e6c4;
    text-decoration: none;
    padding: 0px;
    max-width: 150px;
    font-weight: 500;
    transition: all 0.5s;
    border-radius: 10px;
}


/*Perguntar porque não está mudando de cor*/
/*também perguntar como colocar o exercises em colunas*/
.main-container p{
    background:#041b33;
    color:#f5e1c8;
    padding: 5px;
    font-weight:500;
}
#topo{
    padding-top: 30px;
}
#topo a{
    text-decoration: none;
    color:#f5e6c4;
}
#topo a:hover{
    color:#a7c7e7;
}
footer{
    background-color:#06032c;
    color:#f5e6c4;
    text-align: center;
    padding: 20px;
}
.nav {
    text-align: center;
    padding:20px;
}